BraceWrapping:
  AfterCaseLabel: false
#  AfterClass:      true
  AfterControlStatement: true
#  AfterEnum:       true/false
#  AfterFunction:   true
  AfterNamespace:  true
#  AfterObjCDeclaration: true/false
#  AfterStruct:     true/false
#  AfterUnion:      true/false
#  BeforeCatch:     true/false
#  BeforeElse:      true/false
#  IndentBraces:    true/false
#BreakBeforeBraces: Custom
NamespaceIndentation: All
FixNamespaceComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
IndentWidth: 4
AccessModifierOffset: -4
EmptyLineAfterAccessModifier: Leave
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 150
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
IndentCaseBlocks: false
IndentCaseLabels: true
