CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/*
lib/libfalltergeist/*
Makefile
cmake_install.cmake
falltergeist.layout
falltergeist
!falltergeist/
falltergeist.cbp
*.php
*.bmp
*.png
.idea/
*.autosave
/src/nbproject/private/
nbproject/
