CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/*
Makefile
cmake_install.cmake
falltergeist.layout
falltergeist
falltergeist.cbp
*.php
*.bmp
*.png
.idea/
*.autosave
/src/nbproject/private/
nbproject/
ext
.vs/
build/
CMakeSettings.json
/cmake-build-debug
