CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/*
Makefile
cmake_install.cmake
falltergeist.layout
falltergeist.cbp
/.idea/
*.autosave
/src/nbproject/private/
nbproject/
ext
.vs/
build/
CMakeSettings.json
/cmake-build-debug/
*.dat
.vscode/
/conan.lock
/conan_imports_manifest.txt
/conanbuildinfo.cmake
/conanbuildinfo.txt
/conaninfo.txt
/bin
/submodules/
